// imported and box sizing

@import 'reset';

$fa-font-path:        "//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts";
@import 'font-awesome';
@import url(http://fonts.googleapis.com/css?family=Press+Start+2P);

@import 'bourbon';
@import 'neat';

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

// variables

$font-defaults: Helvetica, Arial, sans-serif;
$video-game-font: 'Press Start 2P', cursive;
$main-color: ;
$alt-color: ;
$main-border: 3px solid black;

// starting styles
body {
    font-family: $video-game-font;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include outer-container;
    width: 980px;
}
.start {
    h1 {
        font-size: 3em;
        text-align: center;
        margin-bottom: 30px;
    }
    button {
        font-family: inherit;
        padding: 10px;
    }
    .characters {
        @include outer-container;
    }
    .character {
        @include span-columns(3);
        @include omega(4n);
        text-align: center;
        p {
            margin: 20px 0;
        }
        img {
            width: 100%;
        }
    }

}
.battle {
    .hero-target, .enemy-target {
        @include span-columns(6 of 12);
        text-align: center;
        padding: 10px;
        img {
            width: 75%;
        }
        .hp {
            margin: 10px;
        }
        .hpborder {
            margin: 10px;
            border: $main-border;
            @include span-columns(10);
            @include shift(1);
            height: 10px;
        }
        .hpbar {
            background: red;
            height: 5px;
        }
    }
    .messages {
        @include span-columns(12);

        border-radius: 5px;
        border: $main-border;
        padding: 1px;
        .fight {
        border-radius: 5px;
        border: $main-border;
        padding: 10px;
        min-height: 100px;
        position: relative;
        }
        .fa-play {
            position: absolute;
            top: 50%;
            left: 30px;
            transform: translateY(-50%);
        }
        button {
            font-family: inherit;
            padding: 10px;
            position: absolute;
            top: 50%;
            left: 50px;
            transform: translateY(-50%);
            border: none;
            background: none;
        }
    }
}
.gameover {
    text-align: center;
    h1 {
        font-size: 3em;
        margin-bottom: 20px;
    }
}
