// imported and box sizing

@import 'reset';

$fa-font-path:        "//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts";
@import 'font-awesome';
@import url(http://fonts.googleapis.com/css?family=Press+Start+2P);

@import 'bourbon';
@import 'neat';

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

// variables

$font-defaults: Helvetica, Arial, sans-serif;
$video-game-font: 'Press Start 2P', cursive;
$main-color: ;
$alt-color: ;
$main-border: 3px solid black;

// starting styles
body {
    font-family: $video-game-font;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include outer-container(980px);
}
.herotarget, .enemytarget {
    @include span-columns(6);
}
.messages {
    @include span-columns(12);

    border-radius: 5px;
    border: $main-border;
    padding: 1px;
    .fight {
    border-radius: 5px;
    border: $main-border;
    }
}
