<div class="center">
    <div class="battle">
        <div class="characters">
            <div class="hero-target"></div>
            <div class="enemy-target"></div>
        </div>
        <div class="messages">
            <div class="fight">
                <i class="fa fa-play"></i>
                <button class="attack">Attack</button>
            </div>
        </div>
    </div>
</div>
