<div class="center">
    <div class="gameover">
        <h1>CAGE WINS!</h1>
        <p>
            "I don't think movies are the reason why this violence exists, I think it's going to happen whether movies are there or not." - Nicolas Cage
        </p>
    </div>
</div>
