<div class="center">
    <div class="start">
        <h1>CAGE MATCH</h1>
        <div class="character">
            <img src="{{ img }}" alt="{{ name }}">
            <p>{{ name }}</p>
        </div>
    </div>
</div>
