<div class="center">
    <div class="start">
        <h1>CAGE MATCH</h1>
        {{#each this as |cage|}}
            <div class="character">
                <img src="{{ cage.img }}" alt="{{ cage.name }}">
                <button class="select-character" data-index="{{@index}}"> Select {{ cage.name }}</button>
            </div>
        {{/each}}
    </div>
</div>
